
html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0 0 100px;
	padding: 0;
	min-height: 3000px;
	max-width: 1280px;
	background-image: url('../img/cabin.jpg'); 
	background-size: 1450px 900px;
	background-color: #204F3D;
	background-blend-mode: hard-light;
	font-family: 'Podkova', serif;
	box-sizing: border-box;
}

.header-nav-flag {
	position: fixed;
	top: 0px;
	left: 88px;
	z-index: 2;
	height: 75px;
	width: 390px;
}

.header-title {
	position: absolute;
	width: 400px;
	top: 138px;
	left: 585px;
	text-align: right;
	font-size: 2.4em;
	font-family: 'fff_tusjbold';
	color: rgba(248, 247, 236, .6);
	text-shadow: -1px 1px 4px rgba(15, 36, 18, .9);
	mix-blend-mode: luminosity;
}

.header-nav-flag ul {
	width: 100%;
	height: 75px;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-radius: 4px;
}

.header-nav-flag ul > li {
	text-align: center;
	width: 33%;
	height: 75px;
	float: left;
	margin: 0 auto;
	padding-top: 20px;
	list-style: none;
	display: inline;
}

.header-nav-flag ul span.fa {
	font-size: 2.5em;
}

.side-info {
	position: fixed;
	top: 75px;
	right: 50px;
	border-radius: 4px;
	z-index: 2;
	background: url('../img/img-noise.png');
	width: 250px;
	float: left;
}

.side-info p {
	text-align: center;
	width: 200px;
	height: 60px;
	margin: -70px 10px 100px 25px;
	font-size: 1.7em;
}

.side-info p:first-child {
	margin-top: 50px;
}

.side-info p > a {
	margin-left: 10px;
	font-size: .9em;
	color: rgba(248, 247, 236, .6);
	text-shadow: 2px 2px rgba(15, 36, 18, .9);
}

.main-info {
width: 400px;
position: absolute;
top: 263px;
left: 88px;
padding: 15px;
border-radius: 5px;
text-align: center;
}

.main-info img:first-of-type {
	float: left;
	margin: 0px 15px 0px 0px;
}

.main-info h3 {
	margin-top: 60px;
	font-size: 1.9em;
}

table {
	position: absolute;
	top: 950px;
	left: 88px;	
	width: 850px;
	height: 150px;
	border: 4px solid rgba(22, 54, 42, .6);
	border-radius: 3px;
}

	td {
	border: 2px solid rgba(22, 54, 42, .3);
	border-radius: 3px;
	font-size: 1.2em;
} 

caption {
	letter-spacing: 4px;
	font-size: 2em;
	height: 1em;
	padding: 5px;
	
}

.destination-group {
	margin: 0;
	width: 1300px;
	height: 550px;
	position: absolute;
	top: 1200px;
	left: 88px;
}

.destination-row {
	margin: -20px;
	width: 100%;
	height: 50%;
}

.destination-col {
	margin-left: -40px;
	width: 30%;
	float: left;
}

div.destination-col img {
	box-shadow: -2px -2px 10px 10px rgba(248, 247, 236, .3);
}

.elem-bkgrnd {
background: rgba(147,206,222,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(147,206,222,.5) 0%, rgba(117,189,209,.5) 10%, rgba(84,130,143,.5) 45%, rgba(32,36,40,.5) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(147,206,222,.5)), color-stop(10%, rgba(117,189,209,.5)), color-stop(45%, rgba(84,130,143,.5)), color-stop(100%, rgba(32,36,40,.5)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(147,206,222,.5) 0%, rgba(117,189,209,.5) 10%, rgba(84,130,143,.5) 45%, rgba(32,36,40,.5) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(147,206,222,.5) 0%, rgba(117,189,209,.5) 10%, rgba(84,130,143,.5) 45%, rgba(32,36,40,.5) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(147,206,222,.5) 0%, rgba(117,189,209,.5) 10%, rgba(84,130,143,.5) 45%, rgba(32,36,40,.5) 100%);
background: radial-gradient(ellipse at center, rgba(147,206,222,.5) 0%, rgba(117,189,209,.5) 10%, rgba(84,130,143,.5) 45%, rgba(32,36,40,.5) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#202428', GradientType=1 );
color: #f8f7ec;
}

a {
	color: #f8f7ec;
	text-decoration: none;
}

ul li span.fa:hover {
	font-size: 3em;
	animation-name: icon-dance;
	animation-duration: 1s;
}

div.footer {
	position: absolute;
	height: 100px;
	width: 100%;
	bottom: 0;
	left: 0;
}

.footer ul {
	width: 100px
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.footer ul li {
	text-align: center;
	width: 33%;
	height: 100%;
	margin: 10px auto 30px auto;
	padding-top: 20px;
	list-style: none;
}

.footer ul li span {
	color: rgba(22, 54, 42, .6);
}

@keyframes icon-dance {
	0% {text-shadow: 2px 4px 2px #163A29;}
	25% {text-shadow: -2px -4px 2px #163A29;}
	50% {text-shadow: 4px 2px 2px #163A29;} 
	100% {text-shadow: -4px -2px 2px #163A29;}
}

