.main-info {
width: $div-width;
@include positioning(absolute, $top-main);
padding: .7em;
border-radius: 5px;
text-align: center;

@media screen and (max-width: 650px) {
  width: $div-width * 2.5;
  @include positioning(absolute, $top-main+10, 0);
}
}

.main-info img {
	float: left;
	margin: 0 .2em 0;
}

.main-info h3 {
	margin-top: 1.5em;
	font-size: 1.9em;
}
