
html {
	position: relative;
	min-height: 100%;
}

body {
	background-image: url('#{$path-img}/cabin.jpg');
	background-size: cover;
	background-repeat: repeat-y;
	background-color: #204F3D;
	background-blend-mode: hard-light;
	font-family: $font-main;
}

a {
	color: $color-title;
	text-decoration: none;
}
