
html {
	position: relative;
	min-height: 100%;
}

body {
	background-image: url('../img/cabin.jpg');
	background-size: 1450px 900px;
	background-color: #204F3D;
	background-blend-mode: hard-light;
	font-family: 'Podkova', serif;
}
