$font-main: 'Podkova', serif;

$font-title: Georgia, serif;




$header-height: 9vh;

$mobile-div-width: 100%;

$div-width: 25vw;

$table-width: $div-width * 3;



$top-header: 0vh;

$top-main: $top-header + 27;



$color-text-shadow: #0F2412;

$color-title: #F8F7EC;

$color-table-border: #16362A;

$color-gradient-one: #93CEDE;

$color-gradient-two: #75BDD1;

$color-gradient-three: #669999;

$color-gradient-four: #202824;

$bkgrnd-opacity: .5;


$path-img: '../img';

$path-font: '../fonts';
